#map {
    height: 400px;
    width: 50%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#map {
    height: 600px;
    width: 100%;
}

.card-container{
    box-shadow: 4px 4px 8px rgba(204, 119, 28, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.8) !important;
    border-radius: 16px;
    padding: 8px;
}

.item-image {
    border-radius: 8px;
}